.pg-interna
	.main 
		.filiacao
			>*:not(:last-child):not(.filiacao-header)
				border-right: 1px $gray solid 
				padding-right: 30px
				margin-right: 30px		
			.title
				color: $gray 
	&.pg-nossos-gatos
		.text-box
			.container
				padding-top: 0
html,body
	+animation('opacity', 500ms)