.pg-interna
	&.pg-o-gatil
		.main 
			+mq(1260px, min)
				background: url(assets/imgs/paws-horizontal.png) center bottom no-repeat transparent
				padding-bottom: 0
		.filiacao
			margin-bottom: 30px		
		.text-box
			background-color: $lightblue
		.galeria 
			padding-top: 130px
			padding-bottom: 130px
			+mq(814px, max)
				padding-top: 60px
				padding-bottom: 60px
